.info-content {
    @extend .markdown;
    font-size: 150%;
    justify-content: left;
    align-items: left;
}

.aux-content {
    @extend .markdown;
    font-size: 85%;
    justify-content: center;
    align-items: center;
}

.flex-box{
    text-align: center;
    display: flex;
    align-items: inherit ! important;
    justify-content: inherit !important;
    flex-wrap: nowrap;
    column-gap: 5px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.aux-content ul {
    padding-inline-start: 0px;
}

.info-content ul {
    padding-inline-start: 0px;
}

.info-content a:visited {
    color: black;
}

.info-content .flex-box {
    column-gap: 0.6em;
}

.element {
    margin: 0px;
    padding: 0px;
}

.inline-svg {
  display: inline-block;
  height: 100%;
  width: 0.90em;
}
