<div class="info-content">
  <ul class="flex-box">
    <li class="element"><a href="https://gitlab.com/makejames/digital-garden" target="_blank" rel="noopener noreferrer" title="GitLab" aria-label="GitLab">{{ partial "icon" "gitlab" }}</a></li>
    <li class="element"><a href="https://ko-fi.com/A0A4KE7CS" target="_blank" rel="noopener noreferrer" title="Buy me a Kofi" aria-label="Buy me a Kofi" >{{ partial "icon" "kofi" }}</a></li>
    <li class="element"><a href="mailto:james@makejames.com" target="_blank" ref="noopener noreferrer" title="Email me" aria-label="Email me">{{ partial "icon" "paper-plane" }}</a></li>
  </ul>
</div>
<div class="aux-content">
  <p>Built using <a href="https://gohugo.io/">Hugo</a></p>
  <p><a href="https://gitlab.com/makejames/letter-press">letter-press</a></p>
</div>
